listen=1
server=1
maxconnections=${PEPECOIN_MAX_CONNECTIONS}
rpcport=${PEPECOIN_RPC_PORT}
rpcuser=${PEPECOIN_RPC_USER}
rpcpassword=${PEPECOIN_RPC_PASSWORD}
rpcbind=${PEPECOIN_RPC_BIND}
rpcthreads=${PEPECOIN_RPC_THREADS}
rpcallowip=${PEPECOIN_RPC_ALLOW_IP}
${PEPECOIN_EXTRA_CONFIG}

[test]
listen=1
server=1
maxconnections=${PEPECOIN_MAX_CONNECTIONS}
rpcport=${PEPECOIN_RPC_PORT}
rpcuser=${PEPECOIN_RPC_USER}
rpcpassword=${PEPECOIN_RPC_PASSWORD}
rpcbind=${PEPECOIN_RPC_BIND}
rpcthreads=${PEPECOIN_RPC_THREADS}
rpcallowip=${PEPECOIN_RPC_ALLOW_IP}
${PEPECOIN_TEST_EXTRA_CONFIG}
